<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <h4>{{ player.Player_name }}</h4>
                </div>
                <div class="card-body px-0 pt-0">
                    <div class="bg-secondary-subtle text-center p-3">
                        <img src="https://via.placeholder.com/400x400.png?text=No+Image" alt="No Image Available"
                            height="200" class="player-logo rounded-circle bg-white px-4" />
                    </div>
                    <div class="p-3">
                        <p><strong>Player ID:</strong> {{ player.id }}</p>
                        <p>
                            <strong>Team:</strong>
                            {{ player.team.team_name }}
                        </p>
                        <p><strong>Points:</strong> {{ player.points }}</p>
                        <p><strong>Career Best:</strong> {{ player.careerBattingBest }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Batting Career Summary Table -->
        <div class="col-md-8">
            <p>{{ player.Player_name }} played a major role in Central Districts winning the 2017-18 Plunket Shield. He
                was the second highest run-getter for his side and fourth overall, with 686 runs in 10 games. In fact,
                he has been the most consistent batsman for the Stags over a period of time.</p>
            <h6>Batting Career Summary</h6>
            <table class="table table-bordered table-striped text-center">
                <thead class="table-light">
                    <tr>
                        <th></th>
                        <th>M</th>
                        <th>Inn</th>
                        <th>NO</th>
                        <th>Runs</th>
                        <th>HS</th>
                        <th>Avg</th>
                        <th>BF</th>
                        <th>SR</th>
                        <th>100</th>
                        <th>200</th>
                        <th>50</th>
                        <th>4s</th>
                        <th>6s</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let career of player.careerStats">
                        <td class="fw-bold">{{career.format}}</td>
                        <td>{{ career.Matches }}</td>
                        <td>{{ career.Innings }}</td>
                        <td>{{ career.NotOuts }}</td>
                        <td>{{ career.Runs }}</td>
                        <td>{{ career.HighScore }}</td>
                        <td>{{ career.Avg }}</td>
                        <td>{{ career.BallsFaced }}</td>
                        <td>{{ career.StrikeRate }}</td>
                        <td>{{ career.Hundreds }}</td>
                        <td>{{ career.DoubleHundreds }}</td>
                        <td>{{ career.Fifties }}</td>
                        <td>{{ career.Fours }}</td>
                        <td>{{ career.Sixes }}</td>
                    </tr>
                </tbody>
            </table>
            <h6>Bowling Career Summary</h6>
            <table class="table table-bordered table-striped text-center">
                <thead class="table-light">
                    <tr>
                        <th></th>
                        <th>M</th>
                        <th>Inn</th>
                        <th>B</th>
                        <th>Runs</th>
                        <th>Wkts</th>
                        <th>BBI</th>
                        <th>BBM</th>
                        <th>Econ</th>
                        <th>Avg</th>
                        <th>SR</th>
                        <th>5W</th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let career of player.careerStats">
                        <td class="fw-bold">{{career.format}}</td>
                        <td>19</td>
                        <td>34</td>
                        <td>2</td>
                        <td>961</td>
                        <td>89</td>
                        <td>30.03</td>
                        <td>2181</td>
                        <td>44.06</td>
                        <td>0</td>
                        <td>0</td>
                        <td>9</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>