<!-- {{scheduleDet | json}} -->
<div class="container mt-4" *ngIf="!_.isEmpty(scheduleDet)">
  <div class="row">
    <div class="col-md-6" *ngFor="let teamDet of cricketScore; let i = index">
      <div class="card mb-4">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
          <h5 class="mb-0">{{ i==0?scheduleDet.teamA.team_name: scheduleDet.teamB.team_name}} Innings</h5>
          <p class="mb-0 text-end">
            Total: {{ teamDet.totalRuns }} ({{ teamDet.wickets??0 }} wkts,
            {{ scheduleDet.matchsetup.overs??0 }} Ov)
          </p>
        </div>


        <div class="card-body">
          <h6>Batter</h6>
          {{cricketScore|json}}
          <table class="table table-bordered">
            <thead>
              <tr class="table-secondary">
                <th>Name</th>
                <th>R</th>
                <th>B</th>
                <th>4s</th>
                <th>6s</th>
                <th>SR</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let batter of teamDet.players">
                <tr *ngIf="batter.ballsFaced>0">
                  <td style="cursor: pointer;">
                    <a style="text-decoration: underline; color: #1866db;" class="link-button">{{batter.name}}</a>
                  </td>
                  <td>{{ batter.run??0 }}</td>
                  <td>{{ batter.ballsFaced??0 }}</td>
                  <td>{{ batter.num4s??0 }}</td>
                  <td>{{ batter.num6s??0 }}</td>
                  <td>{{ ((batter.runs??0 / batter.ballsFaced??0) * 100).toFixed(2) }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>

          <p>Extras: {{ teamDet?.scoreCardDet?.extras??0 }}</p>

          <h6>Yet to Bat</h6>
          <p>{{ yetToBat(teamDet.players) }}</p>
        </div>
        <!-- bowler -->
        <div class="card-body">
          <h6>Bowler</h6>
          <table class="table table-bordered">
            <thead>
              <tr class="table-secondary">
                <th>Name</th>
                <th>O</th>
                <th>R</th>
                <th>W</th>
                <th>NB</th>
                <th>WD</th>
                <th>ECO</th>
              </tr>
            </thead>
            <tbody>
              <!-- *ngIf="bolwer.numMatchesBowling > 1" -->
              <ng-container *ngIf="i === 0">
                <ng-container *ngFor="let bolwer of cricketScore[1].players">
                  <tr>
                    <td style="cursor: pointer;">
                      <a style="text-decoration: underline; color: #1866db;" class="link-button"
                        routerLink="/player-detail/{{teamDet.team_id}}/{{bolwer?.Player_id}}">{{ bolwer.name }}</a>
                    </td>
                    <td>{{ bolwer.bowling }}</td>
                    <td>{{ bolwer.runs }}</td>
                    <td>{{ bolwer.wickets }}</td>
                    <td>{{ bolwer.nb }}</td>
                    <td>{{ bolwer.wide }}</td>
                    <td>{{ bolwer.sixes }}</td>
                  </tr>
                </ng-container>
              </ng-container>
        
              <ng-container *ngIf="i === 1">
                <ng-container *ngFor="let batter of cricketScore[0].players">
                  <tr>
                    <td style="cursor: pointer;">
                      <a style="text-decoration: underline; color: #1866db;" class="link-button"
                        routerLink="/player-detail/{{teamDet.team_id}}/{{batter?.Player_id}}">{{ batter.name }}</a>
                    </td>
                    <td>{{ batter.bowling }}</td>
                    <td>{{ batter.runs }}</td>
                    <td>{{ batter.wickets }}</td>
                    <td>{{ batter.nb }}</td>
                    <td>{{ batter.wide }}</td>
                    <td>{{ batter.sixes }}</td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>